@import "_colors";
// @use "_colors" as mycolor;

// body{
//     background-color: $color2;
//     color: $color1;
// }

// using slice or splice method like passing two or more color in one array and selecting color useing array method setting the value using index //

// body{
//     background-color: nth($color1,1);
//     color: $color1;
// }

// nesting

// body {
//   margin: 0px;
//   padding: 0px;
//   h1 {
//     color: black;
//     background: white;
//   }
//   p {
//     color: black;
//     background: white;
//   }
// }

//Inheritance

// button{
//     width: 300px;
//     height: 250px;
//     color: white;
//     background-color: black;
// }

// h1{
//     @extend button;
// }

// function type

// @mixin button($bgc, $color: white) {
//   background-color: $bgc;
//   color: $color;
//   padding: 1rem 2rem;
//   border: none;
//   cursor: pointer;
//   &:hover {
//     opacity: 0.8;
//   }
//   &:active {
//     opacity: 0.2;
//   }
// }

// .btn1 {
//   @include button(mycolor.$color2);
// }
// .btn2 {
//   @include button(blue, white);
// }
// .btn3 {
//   @include button(red, white);
// }

body {
  padding: 0px;
  margin: 0px;
  background-color: $color1;
  color: $color2;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@mixin common() {
  padding: 0px;
  margin: 0px;
}

h1 {
  font-size: clamp(2rem, 4vw, 4rem);
  cursor: pointer;
  font-weight: 700;
  @include common();
}

h2 {
  @include common();
  cursor: pointer;
  font-size: clamp(2rem, 1.5vw, 4rem);
  color: #cecfd2;
}

p {
  @include common();
  font-size: clamp(1.05rem, 1vw, 2.25rem);
  cursor: pointer;
  font-weight: 500;
  font-weight: 900;
}

button {
  cursor: pointer;
  font-size: clamp(0.9rem, 1vw, 2.1rem);
  font-weight: 600;
}

.navbar-container {
  @include common();
  width: 97%;
  height: 45px;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: row;
  background-color: $color1;
  z-index: 10;
  ul {
    display: flex;
    align-items: center;
    list-style: none;
    @include common();
    gap: 15px;
    li {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 5px;
      font-size: 20px;
    }
    img {
      height: 25px;
      width: 25px;
      border-radius: 6px;
    }
    span {
      height: 25px;
      width: 25px;
      font-size: 20px;
    }
  }
  div {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 100%;
    width: 60%;
    input {
      width: 70%;
      height: 40%;
      border-radius: 4px;
      outline: none;
      padding: 6px;
      font-weight: 700;
      background-color: #242528;
      color: #7e8188;
      border: 1px solid #7e8188;
    }
    button {
      background-color: $color5;
      padding: 7px;
      border: 0px;
      font-weight: 300;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-self: center;
      gap: 5px;
      font-size: 15px;
    }
  }
}
.hr {
  height: 1px;
  width: 100%;
  background-color: #a9abaf;
  opacity: 0.2;
}
.main-container {
  display: flex;
  width: 100%;
  height: 94vh;
  padding-top: 45px;
}

::-webkit-scrollbar{
  width: 0px;
}