@mixin common() {
  padding: 0px;
  margin: 0px;
}
.aside-container {
  width: 17.6%;
  height: 94vh;
  border-right: 1px solid #a9abaf63;
  display: flex;
  justify-content: center;
  // position: fixed;
  ul {
    @include common();
    width: 80%;
    list-style: none;
    display: flex;
    padding-inline-start: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 15px;
    li {
      margin: 0px;
      width: 100%;
      display: flex;
      flex-direction: row;
      margin-block-start: 0px;
      margin-block-end: 0px;
      align-items: center;
    }
  }
}

.aside-container {
  ul {
    list-style: none;
    padding: 0;
  }

  li {
    &:hover {
      background-color: #2a2a2d;
    }
  }

  .aside-link {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #a9abaf;
    text-decoration: none;
    padding: 5px;
    &:hover {
      border-radius: 3px;
      background-color: #2a2a2d;
    }
  }

  .aside-link.active {
    background-color: #1c2b42;
    color: #669df1;
    border-radius: 3px;
  }
}
